{% extends "note/base-note.html" %}


{% block content_page_additional %}
		<ul>
			<li><a href="{{ nota.get_absolute_url }}edit/">Modifica</a></li>
			<li><a href="{{ nota.get_absolute_url }}delete/">Elimina</a></li>
		</ul>
{% endblock content_page_additional %}

{% block content_page_title %}
		    <h3>Nota Nr. {{ nota.sigla }}</h3>
{% endblock content_page_title %}

{% block content_page_buttons %}
		<ul>
			<li><a href="{{ nota.get_absolute_url }}aggiungi/?tipo=oda">Aggiungi Oda</a></li>
			<li><a href="{{ nota.get_absolute_url }}aggiungi/?tipo=rda">Aggiungi Rda</a></li>
			<li><a href="{{ nota.get_absolute_url }}aggiungi/?tipo=gara">Aggiungi Gara</a></li>
<!-- 
			<li><a href="{{ nota.get_absolute_url }}collega/?tipo=oda">Collega Oda</a></li>
			<li><a href="{{ nota.get_absolute_url }}collega/?tipo=rda">Collega Rda</a></li>
			<li><a href="{{ nota.get_absolute_url }}collega/?tipo=gara">Collega Gara</a></li>
 -->
		</ul>
{% endblock content_page_buttons %}
{% block content_page_detail %}	
<table id="tab-obj-det">
  <tr class="tab-obj-det-dispari">
    <th class="tab-obj-det-th">Nota</th>
    <td class="tab-obj-det-td"><b>{{ nota.sigla|default_if_none:"-"|default:"-" }}</b></td>
  </tr>

{% for f in listaCampi %}
  <tr class={% cycle "tab-obj-det-pari" "tab-obj-det-dispari" %}>
    <th class="tab-obj-det-th">{{ f.0|capfirst }}</th>
    <td class="tab-obj-det-td">{{ f.1|default_if_none:"-"|default:"-" }}</td>
  </tr>
{% endfor %}
</table>

{% endblock content_page_detail %}

