{% extends "note/base-note.html" %}

{% block extracss %}
<style type="text/css" media="screen">
#searchform li {
	float: left;
	list-style: none;
	margin: 2px;
}

</style>
{% endblock extracss %}

{% block content_page_title %}
			{% if optional_h3 %}
				<h3>{{ optional_h3 }}</h3>
			{% endif %}
{% endblock content_page_title %}

{% block content_page_detail %}
		<form action="" method="POST" id="searchform">
			{% csrf_token %}
			{{ form.management_form }}
			<ul>
				{% for f in form.forms %}
				<fieldset>
					<legend>{{ forloop.counter }}&#176; Criterio di ricerca:</legend>
					{{ f.as_ul }}
				</fieldset>
				{% endfor %}
			</ul>
			<input type="submit" title="Ricerca" value="Ricerca" />
		</form>
{% endblock content_page_detail %}

