{% extends "base.html" %}

{% block title %}
trACQer - R.d.A.
{% endblock title %}

{% block h2_header_subtitle %}
<h2>R.d.A. - Richieste di Acquisto</h2>
{% endblock h2_header_subtitle %}

{% block menu %}
Menu R.d.A.
<ul id="menu">
  <li><a href="/rda/create/">Nuova R.d.A.</a></li>
  <li><a href="/rda/delete/">Cancella R.d.A.</a></li>
  <li><a href="/rda/edit/">Modifica R.d.A.</a></li>
  <li><a href="/rda/">Lista R.d.A.</a></li>
  <li><a href="/rda/search/">Cerca R.d.A.</a></li>
</ul>

{% endblock menu %}

